
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");



.conteudo-topo  {
    background-color: #cf2b2b;
    width: 414px;
    height: 92px;
    padding-left: 21px;
    position: fixed;
    top: 0;
    left: 0;
  
}



.titulo {
    font-family: "righteous", cursive;
    color: #ffffff;
    width: 248px;
    height: 44px;
    font-size: 44px;
    line-height: 54.63px;
    font-weight: 400;
    letter-spacing: -1.2%;
    padding-bottom: 5px;
}



.subtitulo {
    font-family: "roboto";
    color: #ffffff;
    width: 226px;
    height: 17px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
}
.titulo-prato-principal {
    font-family: "righteous", cursive;
    color: #333333;
    font-size: 26px;
    font-weight: 400;
    line-height: 32.28px;
    letter-spacing: 1.8%;
    padding-top: 123px;
    padding-bottom: 31px;
    
}

img {

    width:144px;
    height: 87px;
}

.titulos {
    font-family: "righteous", cursive;
    color: #333333;
    font-size: 26px;
    font-weight: 400;
    line-height: 32.28px;
    letter-spacing: 1.8%;
    padding-top: 27px;
    padding-bottom: 31px;

}


.coluna-pedidos {
background-color: #E5E5E5;
width: 414px;
height: 1200px;
padding-left: 19px;


}


.selecao-pratos {
    display: flex;
    height: 245px;
    width: 100%;
    background-color: #e5e5e5;
    overflow: hidden;
    overflow-x: scroll 
       
}

.caixa1 {
    width: 172px;
    height: 216px;
    padding: 0 16px 0 0;
 

}

.conteudo-prato-principal {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 172px;
    height: 216px; 
    border-radius: 9px;
    border: 3px solid white; 
    box-shadow: 1.5px 1.5px 1.5px 0 #333333;
    
}


.titulo-foto {
    font-family: "roboto";
    width:138px;
    height: 23px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    color: #333333;
   
}

.subtitulo-foto {
    font-family: "roboto";
    width: 147px;
    height: 39px;
    font-size: 15px;
    font-weight: 300;
    line-height: 17.58px;
    color: #a6a6a6;
    padding-left: 9px;
  
    

}
.valor {
    font-family: "roboto";
    width: 66px;
    height: 19px;
    font-size: 16px;
    line-height: 18.75px;
    font-weight: 400;
    color: #000000;
   
}

.selecao-pratos-inferior {
    display: flex;
    height: 245px;
    width: 100%;
    background-color: #e5e5e5;
    overflow: hidden;
    overflow-x: scroll;
   

}

.caixa-botao-pedido {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 414px;
    height: 92px;
    margin-top: 16px;
    padding-left: 21px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.botao-pedido {
    background-color:  #32b72f;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 364px;
    height: 61px;
    border-radius: 50px;


}

h5 {
    color: #ffffff;
    font-family: "roboto";
    font-size: 15px;
    font-weight: 400s;
    line-height: 17.58px;


}


h2 {
    color: #a6a6a6;
    font-family: "roboto";
    font-size: 15px;
    font-weight: 400s;
    line-height: 17.58px;

}




